<html>
    <head>
        <title>Nuevo libro</title>
    </head>
    <body>
        <h1>Nuevo libro</h1>
        <form method='post'>
            <label for='título'>Título: </label>
            <input id='título' type='text' name='título'>
            <br/>
            <label for='autor'>Autor: </label>
            <input id='autor' type='text' name='autor'>
            <br/>
            <label for='valoración'>Valoración: </label>
            <input id='valoración' type='number' name='valoración'>
            <br/>
            <label for='sinopsis'>Sinopsis: </label>
            <input id='sinopsis' type='text' name='sinopsis'>
            <br/>
            <input type="submit" value="OK">
        </form>
    </body>
</html>